{% extends "base.html" %} {% block content %}
<div class="row mt-4">
  <div class="col-12">
    <h1>Add Item</h1>
    <form action="{% url 'add_item' %}" method="Post" class="form-inline">
      <input
        type="text"
        class="form-control mb-2 mr-sm-2"
        name="content"
        placeholder="type here.."
      />
      <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
  </div>
</div>

<div class="row mt-4">
  <div class="col-12">
    <ul class="list-group">
      {% for items in todo_items %}
      <li class="list-group-item" aria-current="true">
        {{ items.text }}
        <div class="float-end">
            <form action="delete_todo/{{items.id}}/" method='post'>
                <button type="submit" class="btn btn-sm btn-danger">delete</button>
            </form>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
